USE [master]
GO
/****** Object:  Database [thanhtoanonline]    Script Date: 09/05/2017 16:31:46 ******/
CREATE DATABASE [thanhtoanonline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'thanhtoanonline' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'thanhtoanonline_log' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [thanhtoanonline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [thanhtoanonline]
GO
/****** Object:  StoredProcedure [dbo].[sp_laySoTaiKhoan]    Script Date: 09/05/2017 16:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_laySoTaiKhoan]
@sotk int,
@socsc int
AS
SELECT  [SODU]
  FROM [THONGTINKH]
  WHERE [STK] = @sotk and [CSC] = @socsc
GO
/****** Object:  StoredProcedure [dbo].[sp_updateTK]    Script Date: 09/05/2017 16:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[sp_updateTK]
@sodu int
AS
update  [THONGTINKH]
   set [SODU] = @sodu
GO
/****** Object:  Table [dbo].[THONGTINKH]    Script Date: 09/05/2017 16:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINKH](
	[STK] [int] NOT NULL,
	[CSC] [int] NOT NULL,
	[SODU] [int] NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THONGTINKH] PRIMARY KEY CLUSTERED 
(
	[STK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
